<div style="display: flex;justify-content: space-between;">
  <h1>Modération des jeux </h1>

  <div>
    <button mat-raised-button routerLink="/modo/copy/platform" style="margin-right: 10px">
      <mat-icon>list</mat-icon>
      Plateforme
    </button>

    <button mat-raised-button color="primary" (click)="getRandomHmg()">
      <mat-icon>refresh</mat-icon>
      Recharger
    </button>
  </div>

</div>

<div class="flex">
    <mat-card class="mb-38">

        <div class="head-card">
            <mat-icon fontIcon="open_in_new" routerLink="/hmg/{{hmgRandom1?.id}}"></mat-icon>
        </div>

        <mat-card-content>

            <div class="banner-image d-flex mb-10 justify-center">
                <div class="banner" style="background-image: url({{hmgRandom1?.myGame?.game?.image?.small_url}});"></div>
                <div class="blur"></div>
                <img class="back" src="{{ hmgRandom1?.myGame?.game?.image?.small_url }}" alt="blur">
            </div>

            <h2 class="d-flex mb-10 justify-center m-15">{{hmgRandom1?.myGame?.game?.name}}</h2>

            <mat-chip class="displayname mb-10" *ngIf="hmgRandom1?.myGame?.user" routerLink="/user/{{hmgRandom1?.myGame?.user?.id}}">
                <img matChipAvatar [src]="app.generatePPUseritium(hmgRandom1?.myGame?.user?.pp?.url, hmgRandom1?.myGame?.user?.displayname_useritium	 || hmgRandom1?.myGame?.user?.username,hmgRandom1?.myGame?.user?.color || this.app.colorDefault)" alt="user pp"/>
                {{hmgRandom1?.myGame?.user?.displayname_useritium	 ?? hmgRandom1?.myGame?.user?.username }}
            </mat-chip>

            <br>

            <mat-chip (click)="app.redirectUrl(app.setURLFront() + '/profil/' + hmgRandom1?.myGame?.user?.id + '/' + hmgRandom1?.myGame?.plateform?.id )" style="cursor: pointer">
                <img matChipAvatar [src]="hmgRandom1?.myGame?.plateform?.image?.icon_url" alt="platform icon"/>
                {{hmgRandom1?.myGame?.plateform?.name}}
            </mat-chip>

        </mat-card-content>
    </mat-card>

    <mat-card class="mb-38">

        <div class="head-card">
            <mat-icon fontIcon="open_in_new" routerLink="/hmg/{{hmgRandom2?.id}}"></mat-icon>
        </div>

        <mat-card-content>

            <div class="banner-image d-flex mb-10 justify-center">
                <div class="banner" style="background-image: url({{hmgRandom2?.myGame?.game?.image?.small_url}});"></div>
                <div class="blur"></div>
                <img class="back" src="{{ hmgRandom2?.myGame?.game?.image?.small_url }}" alt="blur">
            </div>

            <h2 class="d-flex mb-10 justify-center m-15">{{hmgRandom2?.myGame?.game?.name}}</h2>

            <mat-chip class="displayname mb-10" *ngIf="hmgRandom2?.myGame?.user" routerLink="/user/{{hmgRandom2?.myGame?.user?.id}}">
                <img matChipAvatar [src]="app.generatePPUseritium(hmgRandom2?.myGame?.user?.pp?.url, hmgRandom2?.myGame?.user?.displayname_useritium	 || hmgRandom2?.myGame?.user?.username,hmgRandom2?.myGame?.user?.color || this.app.colorDefault)" alt="user pp"/>
                {{hmgRandom2?.myGame?.user?.displayname_useritium	 ?? hmgRandom2?.myGame?.user?.username }}
            </mat-chip>

            <br>

            <mat-chip (click)="app.redirectUrl(app.setURLFront() + '/profil/' + hmgRandom2?.myGame?.user?.id + '/' + hmgRandom2?.myGame?.plateform?.id )" style="cursor: pointer">
                <img matChipAvatar [src]="hmgRandom2?.myGame?.plateform?.image?.icon_url" alt="platform icon"/>
                {{hmgRandom2?.myGame?.plateform?.name}}
            </mat-chip>

        </mat-card-content>
    </mat-card>
</div>

<hr style="margin: 25px 0">


<app-hmg-search [displayedColumns]="['id', 'game', 'plateform', 'user', 'added_at', 'action']"></app-hmg-search>




