<h1 class="page-title">Liste des Utilisateurs liés aux Providers</h1>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="userProviders">

    <!-- Provider Column -->
    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef>Provider</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip routerLink="/provider/{{ element.provider.id }}" class="clickable-chip">
          <img matChipAvatar *ngIf="element.provider.picture?.url" [src]="element.provider.picture?.url" alt="{{ element.provider.displayName }}">
          {{ element.provider.displayName }}
        </mat-chip>
      </td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
      <td mat-cell *matCellDef="let element">
        <mat-chip routerLink="/user/{{ element.user.id }}" class="clickable-chip">
          <img matChipAvatar [src]="app.generatePPUseritium(
                 element.user.pp?.url,
                 element.user.displayname_useritium || element.user.username,
                 element.user.color || app.colorDefault
               )" alt="User Profile Picture" />
          {{ element.user.displayname_useritium ?? element.user.username }}
        </mat-chip>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="confirmDeleteUserProvider(element.user.id, element.provider.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['provider', 'user', 'delete']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['provider', 'user', 'delete'];"></tr>
  </table>
</div>
