<mat-form-field style="width: 100%;">
  <mat-label>Chercher un utilisateur</mat-label>
  <input
    matInput
    placeholder="Tapez votre recherche ..."
    [(ngModel)]="searchValue"
    (keyup)="searchUser()"
  >
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- displayname Column -->
    <ng-container matColumnDef="displayname">
      <th mat-header-cell *matHeaderCellDef> Utilisateur </th>
      <td mat-cell *matCellDef="let element">

        <mat-chip routerLink="/user/{{element.id}}">
          <img matChipAvatar [src]="app.generatePPUseritium(element.pp?.url, element.displayname_useritium	 || element.username,element.color || this.app.colorDefault)" alt="user pp"/>
          {{element.displayname_useritium	 ?? element.username }}
        </mat-chip>

      </td>
    </ng-container>

    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Useritium </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- sanction Column -->
    <ng-container matColumnDef="sanction">
      <th mat-header-cell *matHeaderCellDef> Nombre de Sanction </th>
      <td mat-cell *matCellDef="let element"> {{element.logs.length}} </td>
    </ng-container>

    <!-- last Column -->
    <ng-container matColumnDef="last">
      <th mat-header-cell *matHeaderCellDef> Dernier connexion </th>
      <td mat-cell *matCellDef="let element"> {{ element.lastConnection | date:'dd/MM/yyyy HH:mm' }} </td>
    </ng-container>

    <!-- roles Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef> Rôles </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let role of element.roles">
          <mat-chip style="margin-right: 5px"
                    *ngIf="role !== 'ROLE_USER'"
                    (removed)="removeRole(element.id, role)"
                    [style.background-color]="app.AllRole[role]"
                    routerLink="/role/{{role}}">

            {{ role.substring(5) }}
            <button *ngIf="app.canRemoveRole(role)" matChipRemove [attr.aria-label]="'remove ' + role">
              <mat-icon>cancel</mat-icon>
            </button>

          </mat-chip>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="addrole">
      <th mat-header-cell *matHeaderCellDef> Ajouter </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon fontIcon="add" mat-button [matMenuTriggerFor]="menu" *ngIf="app.roleCanManage().length !== element.roles.length"></mat-icon>
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let roleCan of app.roleCanManage()">
            <button mat-menu-item *ngIf="!element.roles.includes(roleCan)" (click)="addRole(element.id, roleCan)">

              <mat-chip style="margin-right: 5px"
                        [style.background-color]="app.AllRole[roleCan]">
                {{ roleCan.substring(5) }}
              </mat-chip>

            </button>
          </ng-container>
        </mat-menu>
      </td>
    </ng-container>


    <!-- ban Column -->
    <ng-container matColumnDef="ban">
      <th mat-header-cell *matHeaderCellDef> Rôles </th>
      <td mat-cell *matCellDef="let element">
          <mat-chip *ngIf="isBan(element.roles)"
                    [style.background-color]="app.AllRole['ROLE_BAN']"
                    routerLink="/role/{{'ROLE_BAN'}}">
            BAN
          </mat-chip>

          <mat-chip *ngIf="!isBan(element.roles)">
            UNBAN
          </mat-chip>
      </td>
    </ng-container>

    <ng-container matColumnDef="addban">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="this.app.userConnected.id !== element.id && canBan(element.roles)">
          <mat-icon fontIcon="gavel" mat-button *ngIf="!isBan(element.roles)" (click)="toggleBan(element.id, true)"></mat-icon>
          <mat-icon fontIcon="undo" mat-button *ngIf="isBan(element.roles)" (click)="toggleBan(element.id, false)"></mat-icon>
        </ng-container>
        <ng-container *ngIf="this.app.userConnected.id === element.id || !canBan(element.roles)">
          <mat-icon fontIcon="cancel"></mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <!-- badge Column -->
    <ng-container matColumnDef="badge">
      <th mat-header-cell *matHeaderCellDef> Badge </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.badges.length === 0">
          <p>Aucun badge</p>
        </ng-container>
        <ng-container *ngIf="element.badges.length > 0">
          <ng-container *ngFor="let badge of element.badges">
            <mat-chip routerLink="/badge/{{badge.id}}"
              (removed)="toggleBadge(element.id, badge)">
              <img matChipAvatar [src]="badge.pictureUrl || badge.picture.url" alt="badge img"/>
              {{ badge.name }}
              <button matChipRemove [attr.aria-label]="'remove ' + badge">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="addbadge">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon fontIcon="add" mat-button [matMenuTriggerFor]="menu2"></mat-icon>
        <mat-menu #menu2="matMenu">
          <ng-container *ngFor="let badge of badgeAll">
            <button mat-menu-item  (click)="toggleBadge(element.id, badge)" *ngIf="haveBadge(element.badges, badge)">
              <mat-chip>
                <img matChipAvatar [src]="badge.picture?.url" alt="badge img"/>
                {{ badge.name }}
              </mat-chip>
            </button>
          </ng-container>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


