.mb-40{
    margin-bottom: 40px;
}

.m-40{
    margin: 15px;
}

p {
    margin: 0px;
}

mat-chip {
    margin-left: -3px;
}

.d-flex {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.w-128{
    width:128px;
}

.banner-image{
    min-width: 300px;
    height: 160px;
    margin: auto 0;
    border-radius: 10px;

    .banner{
      position: absolute;
      width: 300px;
      height: 160px;
      z-index: 10;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .blur{
      position: absolute;
      width: 300px;
      height: 160px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      z-index: 1;
      background-color: #00000038;
    }

    .back{
      width: 300px;
      height: 100%;
      border-radius: 15px;
    }
}

.justify-center{
    justify-content: center;
}