<section *ngIf="providerSelected">

    <mat-card class="mb-38">
      <mat-card-content>
        <div class="flex" style="{{ this.app.userConnected.userRole.includes('ROLE_ADMIN') ||
  this.app.userConnected.userRole.includes('ROLE_OWNER') ? 'justify-content: space-between;' : 'justify-content: end;' }}">

          <div style="display: flex; align-items: center;" *ngIf="this.app.userConnected.userRole.includes('ROLE_ADMIN') ||
  this.app.userConnected.userRole.includes('ROLE_OWNER')">
            <p style="margin: unset">{{ viewProvider }}</p>
            <mat-icon class="mr-8" fontIcon="visibility"></mat-icon>
          </div>
          <div>
            <mat-icon fontIcon="open_in_new" (click)="app.redirectUrl(app.setURLFront() + '/provider/' + providerSelected?.id)"></mat-icon>
          </div>
        </div>
        <div class="flex justify-center center-auto column">
          <div id="pp" class="img mb-12" style= "background-image: url({{providerSelected?.picture?.url}});"></div>
          <h2 class="text-center">{{providerSelected?.displayName}}</h2>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mb-38">
      <mat-card-content>
        <h2 class="mb-12">Informations sur le profil</h2>
        <div class="flex">
          <p class="w-128">Nom :</p>
          <p>{{providerSelected?.displayName}}</p>
        </div>
        <div class="flex">
          <p class="w-128">Inscrit depuis le :</p>
          <p>{{providerSelected?.joindeAt | date:'d/MM/y à h:mm'}}</p>
        </div>
        <div class="flex">
            <p class="w-128">Fondé :</p>
            <p>{{providerSelected?.founded_at}}</p>
          </div>
        <div class="flex">
            <p class="w-128">Pays d'origine :</p>
            <p>
              {{ this.app.getVariableCountryLang(providerSelected?.country) }}
              <ng-container *ngIf="providerSelected?.country?.icon">
                <span class="flag-shadow {{ providerSelected?.country?.icon }}"></span>
              </ng-container>
            </p>
        </div>
<!--        <div class="flex">-->
<!--            <p class="w-128">Contenu :</p>-->
<!--            <p>{{providerSelected?.content}}</p>-->
<!--        </div>-->
        <div class="flex align-items-center g-10 mb-12">
          <p class="m-0">Couleur du thème : {{providerSelected?.color ?? 'Couleur par défaut'}}</p>
          <div class="color-preview" style="background-color: {{providerSelected?.color || app.colorDefault}};"></div>
        </div>
      </mat-card-content>
    </mat-card>
</section>
