mat-card{
    text-align: center;
}

mat-card-content{
    padding: 50px !important;
}

.flex {
    display: flex;
    margin: auto;
    width: 98%;
    mat-card{
        width: 49%;
        margin: 1%;
    }
}

@media (max-width: 768px) {
    mat-card{
        padding: unset;
    }
}
  

.content-lock {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.m-5 {
    margin: 5px;
}

.head-card{
    text-align: end;
    padding-top: 10px;
    padding-right: 10px;
}

.mb-10{
    margin-bottom: 10px;
}