<div style="display: flex;justify-content: space-between;">
  <h1> Modération des profils </h1>

  <div>
    <button mat-raised-button color="primary" (click)="getRandom()">
      <mat-icon>refresh</mat-icon>
      Recharger
    </button>
  </div>

</div>

<ng-container *ngIf="profilRandom1 && profilRandom2">
  <div class="flex">
    <mat-card class="mb-38">
      <mat-card-content>
        <div class="d-flex justify-end">
            <mat-icon fontIcon="open_in_new" (click)="app.redirectUrl(app.setURLFront() + '/profil/' + profilRandom1?.id)"></mat-icon>
        </div>

        <div class="d-flex justify-center center-auto column">
            <div id="pp" class="img mb-12" style= "background-image: url({{app.generatePPUseritium(profilRandom1?.pp?.url, profilRandom1?.displaynameUseritium || profilRandom1?.username,profilRandom1?.color || app.colorDefault)}});"></div>
        </div>

        <h2>{{ profilRandom1.username }}</h2>

        <div class="d-flex justify-center">
            <div *ngFor="let role of profilRandom1?.roles">
                <mat-chip
                  style="margin-right: 10px; margin-bottom: 12px; width: fit-content;"
                  *ngIf="role !== 'ROLE_USER'"
                  [style.background-color]="app.AllRole[role]"
                  routerLink="/role/{{role}}">
                  {{ role.substring(5) }}
                </mat-chip>
            </div>
        </div>

      </mat-card-content>
    </mat-card>

    <mat-card class="mb-38">
      <mat-card-content>
        <div class="d-flex justify-end">
            <mat-icon fontIcon="open_in_new" (click)="app.redirectUrl(app.setURLFront() + '/profil/' + profilRandom2?.id)"></mat-icon>
        </div>
        
        <div class="d-flex justify-center center-auto column">
            <div id="pp" class="img mb-12" style= "background-image: url({{app.generatePPUseritium(profilRandom2?.pp?.url, profilRandom2?.displaynameUseritium || profilRandom2?.username, profilRandom2?.color || app.colorDefault)}});"></div>
        </div>

        <h2>{{ profilRandom2.username }}</h2>

        <div class="d-flex justify-center">
            <div *ngFor="let role of profilRandom2?.roles">
                <mat-chip
                  style="margin-right: 10px; margin-bottom: 12px; width: fit-content;"
                  *ngIf="role !== 'ROLE_USER'"
                  [style.background-color]="app.AllRole[role]"
                  routerLink="/role/{{role}}">
                  {{ role.substring(5) }}
                </mat-chip>
            </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <hr style="margin: 25px 0">
</ng-container>


<app-user-search [displayedColumns]="['id', 'displayname', 'username',  'noroles', 'sanction', 'action']"></app-user-search>
