
<mat-card>
    <mat-card-content>
        <h2>Selected warn : {{warnSelected?.id}}</h2>
    <p>Motif du signalement: {{warnSelected?.warnType?.name}}</p>
    <p *ngIf="warnSelected?.content">Description du signalement: "{{warnSelected?.content}}"</p>
    <p>Signalé par: {{warnSelected?.user?.displayname || 'Anonyme' }} </p>
    <p>Le: {{warnSelected?.warnAt| date:'dd/MM/yyyy'}}</p>
    </mat-card-content>
</mat-card>
<br><br>


<app-actu-preview [id]="warnSelected?.actu?.id"></app-actu-preview>
<app-comment-preview [id]="warnSelected?.comment?.id"></app-comment-preview>
<app-comment-reply-preview [id]="warnSelected?.commentReply?.id"></app-comment-reply-preview>
<app-profil-preview [id]="warnSelected?.profil?.id"></app-profil-preview>
<app-hmg-preview [id]="warnSelected?.hmg?.id"></app-hmg-preview>
<app-hmp-preview [id]="warnSelected?.hmp?.id"></app-hmp-preview>
