mat-card{
    text-align: center;
    padding: 50px;
}

.flex {
    display: flex;
    margin: auto;
    width: 98%;
    mat-card{
        width: 49%;
        margin: 1%;
    }
}

@media (max-width: 768px) {
    mat-card{
        padding: unset;
    }
}
  

.content-lock {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40vh;
}

.m-5 {
    margin: 5px;
}