<section *ngIf="id">

  <mat-card class="mb-12">
    <mat-card-content>
      <div class="flex justify-between">

        <div class="flex align-center">
          <p class="m-unset">{{ viewActu }}</p>
          <mat-icon fontIcon="visibility"></mat-icon>
        </div>
        <div>
          <mat-icon fontIcon="open_in_new" (click)="app.redirectUrl(app.setURLFront() + '/actuality/' + commentReplySelected?.comment?.post?.id)"></mat-icon>
        </div>
      </div>
      <div class="flex justify-center center-auto column align-center">
        <img src="{{ commentReplySelected?.comment?.post?.picture?.url }}" class="actu-img" alt="..." />

        <h2 class="text-center">{{commentReplySelected?.comment?.post?.title}}</h2>

        <mat-chip routerLink="/provider/{{commentReplySelected?.comment?.post?.Provider?.id}}">
          <img matChipAvatar [src]="commentReplySelected?.comment?.post?.Provider?.picture?.url" alt="provider pp" class="displayname">
          {{ commentReplySelected?.comment?.post?.Provider?.displayName }}
        </mat-chip>
      </div>
    </mat-card-content>
  </mat-card>

<!-- commentaire réponse signalé -->
  <mat-card class="mb-12">
    <mat-card-content>
      <div class="flex justify-between g-10">
        <h2 class="mb-12">Informations sur la réponse au commentaire : </h2>
        <button mat-raised-button color="warn" (click)="moderateDeleteCommentReply()"  *ngIf="app.canModerated()">Supprimer</button>
      </div>
      <div class="flex align-center mx-20">
        <div class="w-128">Commentaire signalé :</div>
        <div class="w-50vh">{{commentReplySelected?.content}}</div>
      </div>

      <div class="flex align-center mx-20">
        <div class="w-128">Auteur :</div>

        <mat-chip *ngIf="commentReplySelected?.user" class="displayname" routerLink="/user/{{commentReplySelected?.user?.id}}">
          <img matChipAvatar [src]="app.generatePPUseritium(commentReplySelected?.user?.pp?.url, commentReplySelected?.user?.displayname_useritium	 || commentReplySelected?.user?.username,commentReplySelected?.user?.color || this.app.colorDefault)" alt="user pp"/>
          {{commentReplySelected?.user?.displayname_useritium	 ?? commentReplySelected?.user?.username }}
        </mat-chip>

        <mat-chip *ngIf="!commentReplySelected?.user">
          Anonyme
        </mat-chip>

      </div>

      <div class="flex align-center mx-20">
        <div class="w-128">Le :</div>
        <div>{{commentReplySelected?.created_at| date:'dd/MM/yyyy, HH:mm'}} </div>
      </div>

      <div class="flex align-center mx-20" *ngIf="commentReplySelected?.is_deleted" style="color: red">
        <div class="w-128">Supprimé :</div>
        <div>Oui</div>
      </div>
    </mat-card-content>
  </mat-card>

<!-- commentaire originale -->
  <mat-card  class="mb-12">
    <mat-card-content>
      <div class="flex justify-end">
        <mat-icon fontIcon="open_in_new" routerLink="/comment/{{commentReplySelected?.comment?.id}}"></mat-icon>
      </div>
      <h2 class="mb-12">Informations sur le commentaire originale : </h2>
      <div class="flex align-center mx-20">
        <div class="w-128">Commentaire originale :</div>
        <div class="w-50vh">{{commentReplySelected?.comment?.content}} </div>
      </div>

      <div class="flex align-center mx-20">
        <div class="w-128">Auteur :</div>

        <mat-chip *ngIf="commentReplySelected?.comment?.user" routerLink="/user/{{commentReplySelected?.comment?.user?.id}}">
          <img matChipAvatar [src]="app.generatePPUseritium(commentReplySelected?.comment?.user?.pp?.url, commentReplySelected?.comment?.user?.displayname_useritium	 || commentReplySelected?.comment?.user?.username,commentReplySelected?.comment?.user?.color || this.app.colorDefault)" alt="user pp" class="displayname"/>
          {{commentReplySelected?.comment?.user?.displayname_useritium	 ?? commentReplySelected?.comment?.user?.username }}
        </mat-chip>

        <mat-chip *ngIf="!commentReplySelected?.comment?.user">
          Anonyme
        </mat-chip>

      </div>

      <div class="flex align-center mx-20">
        <div class="w-128">Le :</div>
        <div>{{commentReplySelected?.comment?.created_at| date:'dd/MM/yyyy, HH:mm'}} </div>
      </div>

      <div class="flex align-center mx-20" *ngIf="commentReplySelected?.comment?.is_deleted" style="color: red">
        <div class="w-128">Supprimé :</div>
        <div>Oui</div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
