<!-- Article Creation Page -->
<h1 class="page-title">Crée un Article</h1>

<form (ngSubmit)="confirmSubmitArticle()" class="article-form mat-elevation-z3">

<!-- IMAGE UPLOAD -->
<div class="drop-area mat-elevation-z2"
  (dragover)="$event.preventDefault()"
  (drop)="onFileDropped($event)"
  (click)="triggerFileSelect()">
    <mat-icon class="upload-icon">cloud_upload</mat-icon>
    <p>Glisse et dépose ton image ici ou <span class="click-text">Clique ici</span></p>
    <input #fileInput type="file" (change)="onFileSelected($event)" hidden>
  <small> Taille recommandé: 336 / 189</small>
</div>

<!-- Preview Image -->
<img *ngIf="imagePreview" [src]="imagePreview" [class]="imageClass" alt="Image Preview" class="image-preview">


  <!-- Title -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Titre</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="title" name="title" required>
  </mat-form-field>

  <!-- Content -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contenu de l'article</mat-label>
    <textarea matInput id="content" [(ngModel)]="content" name="content" rows="4" required></textarea>
  </mat-form-field>

  <!-- Picture ID -->
  <mat-form-field appearance="outline" class="full-width hidden">
    <mat-label>Picture ID</mat-label>
    <input matInput type="number" id="picture" [(ngModel)]="picture_id" name="picture_id" required>
  </mat-form-field>

  <!-- Game Search -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Sélectionner un Jeux (Optional)</mat-label>
    <input matInput id="gameSearch" (input)="searchGames()" [(ngModel)]="gameSearch" name="gameSearch" autocomplete="off">
  </mat-form-field>

  <!-- Game Results -->
  <mat-list *ngIf="gameResults.length > 0" class="results-list">
    <mat-list-item *ngFor="let game of gameResults" (click)="selectGame(game)" lines="1">
        <img matListItemAvatar [src]="game.image?.icon_url" alt="{{ game.name }}">
      <span matListItemTitle>{{ game.name }}</span>
    </mat-list-item>
  </mat-list>

  <!-- Submit Button -->
  <button mat-raised-button color="primary" type="submit" class="submit-button">Create Article</button>
</form>
