<h1> Log de la modération </h1>

<mat-form-field style="width: 100%;">
  <mat-label>Chercher une Log</mat-label>
  <input
    matInput
    placeholder="Tapez votre recherche ..."
    [(ngModel)]="searchValue"
    (keyup)="searchLog()"
  >
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- user Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> Utilisateur </th>
      <td mat-cell *matCellDef="let element">

        <mat-chip routerLink="/user/{{element.user.id}}">
          <img matChipAvatar [src]="app.generatePPUseritium(element.user?.pp?.url, element.user?.displayname_useritium	 || element.user?.username,element.user?.color || this.app.colorDefault)" alt="user pp"/>
          {{element.user.displayname_useritium	 ?? element.user.username }}
        </mat-chip>

      </td>
    </ng-container>

    <!-- why Column -->
    <ng-container matColumnDef="why">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> {{element.why}} </td>
    </ng-container>

    <!-- created_at Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Fait le </th>
      <td mat-cell *matCellDef="let element"> {{ element.created_at | date:'dd/MM/yyyy HH:mm' }} </td>
    </ng-container>

    <!-- moderated_by Column -->
    <ng-container matColumnDef="moderated_by">
      <th mat-header-cell *matHeaderCellDef> Fait par </th>
      <td mat-cell *matCellDef="let element">

        <mat-chip routerLink="/user/{{element.moderated_by.id}}">
          <img matChipAvatar [src]="app.generatePPUseritium(element.moderated_by?.pp?.url, element.moderated_by?.displayname_useritium	 || element.moderated_by?.username,element.moderated_by?.color || this.app.colorDefault)" alt="user pp"/>
          {{element.moderated_by.displayname_useritium	 ?? element.moderated_by.username }}
        </mat-chip>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


