.mb-12 {
  margin-bottom: 12px;
}

.img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 640px;
  height: 360px;
  border-radius: 5px;
}

.shadow {
  box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.45);
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}


.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.center-auto {
  margin: 0 auto;
  width: fit-content;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

p {
  margin: 0px;
}

.d-flex {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.w-128{
  width:200px;
}

.card-img-top{
  object-fit: cover;
  width: 336px;
  height: 234px;
  border-radius: 14px;
  transition: transform 0.4s ease-out;
  will-change: transform;
}
.card-left{
  width: 326px;
  height: 160px;
  border-radius: 15px;
}

.card-left .image{
  position: absolute;
  width: 300px;
  height: 160px;
  z-index: 10;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card-left .blur{
  position: absolute;
  width: 300px;
  height: 160px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 1;
  background-color: #00000038;
}
.card-left img{
  width: 300px;
  height: 100%;
  border-radius: 15px;
  min-height: 160px
}
