.full-width {
    width: 100%;
}

.search-bar {
    display: block;
    width: 100%;
    max-width: none;
    margin-bottom: 10px; /* Adjust spacing between input and table */
}

.preview-image {
  max-width: 50px;
  min-width: 50px;
  min-height: 29px;
  max-height: 29px;
    border-radius: 4px;
    margin: 0 auto;
    object-fit: cover;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

@media (max-width: 768px) {
    .responsive-table {
        font-size: 12px;
    }
}
