<h1> Liste des badges </h1>



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- badge Column -->
    <ng-container matColumnDef="badge">
      <th mat-header-cell *matHeaderCellDef> Badge </th>
      <td mat-cell *matCellDef="let element">
          <mat-chip routerLink="/badge/{{element.id}}">
            <img matChipAvatar [src]="element.picture.url" alt="badge img"/>
            {{ element.name }}
          </mat-chip>
      </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="removeBadge(element.id)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
