<!-- <ng-container *ngFor="let warn of allWarns">
<div>
    <p>ID {{warn.id}} </p>
    <p>USER {{warn.user?.displayname ?? "Anonyme"}} </p>
    <p>MOTIF {{warn.warnType.name}} </p>
    <p>DATE DU SIGNALEMENT {{warn.warnAt | date:'dd/MM/yyyy'}} </p>
    <p *ngIf="warn.actu">ACTUALITÉ SIGNALEE {{warn.actu.title}} </p>
    <p *ngIf="warn.comment">COMMENTAIRE SIGNALEE {{warn.comment.content}}</p>
    <p *ngIf="warn.commentReply">REPONSE COMMENTAIRE SIGNALEE {{warn.commentReply.content}}</p>
    <p *ngIf="warn.hmg">HMG SIGNALEE {{warn.hmg.id}}</p>
    <p *ngIf="warn.hmp">HMP SIGNALEE {{warn.hmp.id}} </p>
    <p *ngIf="warn.profil">PROFIL SIGNALEE {{warn.profil.displayname}} </p>
    <p *ngIf="warn.content">CONTENU {{warn.content}} </p>
</div>
<hr>

</ng-container> -->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- warn_by Column -->
    <ng-container matColumnDef="warn_by">
      <th mat-header-cell *matHeaderCellDef> Signalé par </th>
      <td mat-cell *matCellDef="let element"> {{element.user.displayname || 'Annonyme' }} </td>
    </ng-container>

    <!-- why Column -->
    <ng-container matColumnDef="why">
      <th mat-header-cell *matHeaderCellDef> Motif </th>
      <td mat-cell *matCellDef="let element"> {{element.warnType.name}} </td>
    </ng-container>

    <!-- object Column -->
    <ng-container matColumnDef="object">
      <th mat-header-cell *matHeaderCellDef> Objet </th>
      <td mat-cell *matCellDef="let element"> {{element.comment.content || element.commentReply.content || element.actu.title || "Hmg id: " + element.hmg.id || "Hmp id: " + element.hmp.id || element.profil.displayname }} </td>
    </ng-container>

    <!-- date_at Column -->
    <ng-container matColumnDef="date_at">
      <th mat-header-cell *matHeaderCellDef> Date du signalement </th>
      <td mat-cell *matCellDef="let element"> {{element.warnAt}} </td>
    </ng-container>

    <!-- content Column -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

    <!-- manage Column -->
    <ng-container matColumnDef="manage">
      <th mat-header-cell *matHeaderCellDef> Voir plus </th>
      <td mat-cell *matCellDef="let element">
        <button onclick="manage(element.id)">Modérer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


