
<mat-card *ngIf="warnSelected">
    <mat-card-content>
    <div class="d-flex" style="justify-content: space-between;">
      <div class="d-flex">
        <h2 class="w-128">Id du signalement : </h2>
        <h2>{{warnSelected?.id}}</h2>
      </div>
      <div class="d-flex" style="font-size: 15px">
        <p>Non traité</p>
        <mat-icon fontIcon="toggle_on" *ngIf="warnSelected?.is_manage" [style.color]="'#6363ff'" (click)="toggleManage(warnSelected.id)"></mat-icon>
        <mat-icon fontIcon="toggle_off" *ngIf="!warnSelected?.is_manage" (click)="toggleManage(warnSelected.id)"></mat-icon>
        <p>Traité</p>
      </div>
    </div>
    <div class="d-flex">
        <p class="w-128">Motif du signalement :</p>
        <p>{{warnSelected?.warnType?.name}}</p>
    </div>
    <div class="d-flex">
        <p class="w-128">Type d'objet :</p>
        <p>{{warnSelected?.comment?.content || warnSelected?.commentReply?.content ? 'Commentaire' : warnSelected?.actu?.title ? 'Actualité' : warnSelected?.hmg?.id ? 'Hmg' : warnSelected?.hmp?.id ? 'Hmp' : warnSelected?.profil?.displayname ? 'Utilisateur' : ''}}</p>
    </div>
    <div class="d-flex">
        <p class="w-128">Description du signalement :</p>
        <p *ngIf="warnSelected?.comment">"{{warnSelected?.content}}"</p>
        <p *ngIf="!warnSelected?.comment">Non renseigné</p>
    </div>
    <div class="d-flex">
        <p class="w-128">Signalé par :</p>
        <mat-chip class="displayname" *ngIf="warnSelected?.user" routerLink="/user/{{warnSelected?.user?.id}}">
            <img matChipAvatar [src]="app.generatePPUseritium(warnSelected?.user?.pp?.url, warnSelected?.user?.displayname_useritium	 || warnSelected?.user?.username,warnSelected?.user?.color || this.app.colorDefault)" alt="user pp"/>
            {{warnSelected?.user?.displayname_useritium	 ?? warnSelected?.user?.username }}
          </mat-chip>

          <mat-chip *ngIf="!warnSelected?.user">
            Anonyme
          </mat-chip>
    </div>
    <div class="d-flex">
        <p class="w-128">Signalé le :</p>
        <p>{{warnSelected?.warnAt| date:'dd/MM/yyyy, HH:mm'}}</p>
    </div>
    </mat-card-content>
</mat-card>
<br><br>

<hr>

<br><br>

<app-actu-preview [id]="warnSelected?.actu?.id"></app-actu-preview>
<app-comment-preview [id]="warnSelected?.comment?.id"></app-comment-preview>
<app-comment-reply-preview [id]="warnSelected?.commentReply?.id"></app-comment-reply-preview>
<app-profil-preview [id]="warnSelected?.profil?.id"></app-profil-preview>
<app-hmg-preview [id]="warnSelected?.hmg?.id"></app-hmg-preview>
<app-hmp-preview [id]="warnSelected?.hmp?.id"></app-hmp-preview>
