
mat-card{
  text-align: center;
  /*padding: 50px;*/

  .head-card{
    text-align: end;
    padding-top: 10px;
    padding-right: 10px;
  }

  mat-card-content{
    padding: 0px 50px 50px 50px !important;
  }
}
.flex {
  display: flex;
  margin: auto;
  width: 98%;
  mat-card{
    width: 49%;
    margin: 1%;
  }
}

@media (max-width: 768px) {
  mat-card{
    padding: unset;
  }
}
