<form (ngSubmit)="submitArticle()" class="article-form">
    <!-- Title -->
    <label for="title">Title:</label>
    <input type="text" id="title" [(ngModel)]="title" name="title" required>
  
    <!-- Content -->
    <label for="content">Content:</label>
    <textarea id="content" [(ngModel)]="content" name="content" required></textarea>
  
    <!-- Picture ID -->
    <label for="picture">Picture ID:</label>
    <input type="number" id="picture" [(ngModel)]="picture_id" name="picture_id" required>
  
    <!-- Game Search -->
    <!-- <label for="game">Game ID:</label>
    <input type="number" id="game" [(ngModel)]="game_id" name="game_id" required> -->
    <!-- Game Search -->
    <label for="game">Select a Game:</label>
    <input type="text" id="gameSearch" (input)="searchGames()" [(ngModel)]="gameSearch" name="gameSearch" autocomplete="off">
    
    <!-- Game Results -->
    <ul class="game-list">
      <li *ngFor="let game of gameResults" (click)="selectGame(game)">
        <img [src]="game.image?.icon_url" alt="{{ game.name }}" width="30">
        {{ game.name }}
      </li>
    </ul>
  
    <!-- Submit Button -->
    <button type="submit">Create Article</button>
  </form>