<section *ngIf="providerSelected">
  <app-provider [providerSelected]="providerSelected"></app-provider>

  <div>
      <h2>Modifier le profil</h2>
      <form>

        <!-- Upload et Modification d'Image -->
        <div class="image-upload">
          <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
          <button mat-button (click)="triggerFileSelect()">Changer l'image</button>
          <img *ngIf="providerSelected.picture?.url" [src]="providerSelected.picture?.url" class="preview-image">
        </div>

        <!-- Champ Name -->
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput [(ngModel)]="providerSelected.displayName" name="title">
        </mat-form-field>

        <!-- Champ Contenu -->
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Contenu</mat-label>
          <textarea matInput [(ngModel)]="providerSelected.content" name="content"></textarea>
        </mat-form-field>

        <!-- Champ Founded at -->
        <mat-form-field style="width: 100%;" appearance="outline">
          <mat-label>Date de Création</mat-label>
          <textarea matInput [(ngModel)]="providerSelected.founded_at" name="content"></textarea>
        </mat-form-field>

        <!-- Bouton de mise à jour -->
        <button mat-raised-button color="primary" (click)="updateProfil()">Modifier</button>

      </form>
    </div>

</section>
