<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar class="md-tall md-hue-2">
        <div>{{ app.userConnected.displayname_useritium || app.userConnected.username }}</div>
    </mat-toolbar>


    <mat-list>
      <div mat-subheader>Action</div>

      <!-- HOME / DASHBOARD -->
      <mat-list-item routerLink="/">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <div matListItemTitle>Dashboard</div>
      </mat-list-item>

      <!-- ADMIN -->
      <ng-container *ngIf="
        app.userConnected.userRole.includes('ROLE_OWNER') ||
        app.userConnected.userRole.includes('ROLE_ADMIN') ||
        app.userConnected.userRole.includes('ROLE_MODO_RESPONSABLE') ||
        app.userConnected.userRole.includes('ROLE_WRITE_RESPONSABLE') ||
        app.userConnected.userRole.includes('ROLE_TEST_RESPONSABLE')
      ">

        <mat-list-item (click)="toggleUnrolled('administration')">
          <mat-icon matListItemIcon>shield_person</mat-icon>
          <div matListItemTitle>Administration</div>
        </mat-list-item>
          <ng-container *ngIf="whichUnrolled === 'administration' && isUnrolled">

            <mat-divider></mat-divider>

            <mat-list-item routerLink="/admin/perms">
              <div matListItemTitle>Gestion des utilisateurs</div>
            </mat-list-item>

            <mat-list-item routerLink="/admin/provider">
              <div matListItemTitle>Accès des éditeurs </div>
            </mat-list-item>

            <mat-list-item routerLink="/admin/add-badge">
              <div matListItemTitle>Ajouter des badges</div>
            </mat-list-item>

            <mat-list-item routerLink="/admin/warn">
              <div matListItemTitle>Contrôle des signalements </div>
            </mat-list-item>

            <mat-divider></mat-divider>

          </ng-container>

      </ng-container>

      <!-- MODO -->
      <ng-container *ngIf="
        app.userConnected.userRole.includes('ROLE_OWNER') ||
        app.userConnected.userRole.includes('ROLE_ADMIN') ||
        app.userConnected.userRole.includes('ROLE_MODO_RESPONSABLE') ||
        app.userConnected.userRole.includes('ROLE_MODO_SUPER') ||
        app.userConnected.userRole.includes('ROLE_MODO')
      ">

      <mat-list-item (click)="toggleUnrolled('moderation')">
        <mat-icon matListItemIcon>gavel</mat-icon>
        <div matListItemTitle>Modération</div>
      </mat-list-item>
        <ng-container *ngIf="whichUnrolled === 'moderation' && isUnrolled">

          <mat-divider></mat-divider>

          <mat-list-item routerLink="/modo/ban">
            <div matListItemTitle>Bannissement</div>
          </mat-list-item>

          <mat-list-item routerLink="/modo/warn">
            <div matListItemTitle>Signalement</div>
          </mat-list-item>

          <mat-list-item routerLink="/modo/profil">
            <div matListItemTitle>Profil</div>
          </mat-list-item>

          <mat-list-item routerLink="/modo/comment">
            <div matListItemTitle>Commentaire</div>
          </mat-list-item>

          <mat-list-item routerLink="/modo/copy">
            <div matListItemTitle>Exemaplaire</div>
          </mat-list-item>

          <mat-divider></mat-divider>

        </ng-container>

      </ng-container>

      <!-- REDAC -->
      <ng-container *ngIf="
        app.userConnected.userRole.includes('ROLE_OWNER') ||
        app.userConnected.userRole.includes('ROLE_ADMIN') ||
        app.userConnected.userRole.includes('ROLE_WRITE_RESPONSABLE') ||
        app.userConnected.userRole.includes('ROLE_WRITE_SUPER') ||
        app.userConnected.userRole.includes('ROLE_WRITE')
      ">

      <mat-list-item (click)="toggleUnrolled('redacteur')">
        <mat-icon matListItemIcon>newspaper</mat-icon>
        <div matListItemTitle>Rédacteur</div>
      </mat-list-item>
       <ng-container *ngIf="whichUnrolled === 'redacteur' && isUnrolled">

         <mat-divider></mat-divider>

         <mat-list-item routerLink="/writter/show-articles">
           <div matListItemTitle>Liste des articles</div>
         </mat-list-item>
         <mat-list-item routerLink="/writter/create-article">
           <div matListItemTitle>Créer un article</div>
         </mat-list-item>

         <mat-divider></mat-divider>

       </ng-container>

      </ng-container>

      <!-- TEST -->
      <ng-container *ngIf="
        app.userConnected.userRole.includes('ROLE_OWNER') ||
        app.userConnected.userRole.includes('ROLE_ADMIN') ||
        app.userConnected.userRole.includes('ROLE_TEST_RESPONSABLE') ||
        app.userConnected.userRole.includes('ROLE_TEST')
      ">

      <mat-list-item (click)="toggleUnrolled('test')">
        <mat-icon matListItemIcon>edit</mat-icon>
        <div matListItemTitle>Testeur</div>
      </mat-list-item>
       <ng-container *ngIf="whichUnrolled === 'test' && isUnrolled">

         <mat-divider></mat-divider>

         <mat-list-item routerLink="/test/view">
           <div matListItemTitle>Liste des testes</div>
         </mat-list-item>
         <mat-list-item routerLink="/test/create">
           <div matListItemTitle>Créer un teste</div>
         </mat-list-item>

         <mat-divider></mat-divider>

       </ng-container>

      </ng-container>

      <!-- PROVIDER -->
      <ng-container *ngIf="
        app.userConnected.userRole.includes('ROLE_PROVIDER_ADMIN') ||
        app.userConnected.userRole.includes('ROLE_PROVIDER')
      ">

      <mat-list-item (click)="toggleUnrolled('provider')">
        <mat-icon matListItemIcon>sports_esports</mat-icon>
        <div matListItemTitle>Éditeur</div>
      </mat-list-item>
          <ng-container *ngIf="whichUnrolled === 'provider' && isUnrolled">

            <mat-divider></mat-divider>

            <mat-list-item routerLink="/provider/profil">
              <div matListItemTitle>Profile</div>
            </mat-list-item>

            <mat-list-item routerLink="/provider/show-articles">
              <div matListItemTitle>Liste des articles</div>
            </mat-list-item>

            <mat-list-item routerLink="/provider/create-article">
              <div matListItemTitle>Créer un article</div>
            </mat-list-item>

            <mat-divider></mat-divider>

          </ng-container>

      </ng-container>

      <!-- STATS -->
      <ng-container *ngIf="
        app.userConnected.userRole.includes('ROLE_OWNER') ||
        app.userConnected.userRole.includes('ROLE_ADMIN')
      ">

      <mat-list-item (click)="toggleUnrolled('stat')">
        <mat-icon matListItemIcon>trending_up</mat-icon>
        <div matListItemTitle>Statistiques</div>
      </mat-list-item>
          <ng-container *ngIf="whichUnrolled === 'stat' && isUnrolled">


            <mat-divider></mat-divider>

            <mat-list-item routerLink="/stat/global">
              <div matListItemTitle>Global</div>
            </mat-list-item>

            <mat-list-item routerLink="/stat/sanction">
              <div matListItemTitle>Sanction</div>
            </mat-list-item>

            <mat-list-item routerLink="/stat/copy">
              <div matListItemTitle>Exemplaire</div>
            </mat-list-item>

            <mat-list-item routerLink="/stat/leader-game">
              <div matListItemTitle>Liste de jeux</div>
            </mat-list-item>

            <mat-list-item routerLink="/stat/leader-actu">
              <div matListItemTitle>Liste d'actualitées</div>
            </mat-list-item>

            <mat-list-item routerLink="/stat/leader-provider">
              <div matListItemTitle>Liste d'éditeurs</div>
            </mat-list-item>

            <mat-list-item routerLink="/stat/leader-user">
              <div matListItemTitle>Liste de profiles</div>
            </mat-list-item>

            <mat-divider></mat-divider>

          </ng-container>

      </ng-container>

      <!-- LOG -->
      <ng-container *ngIf="
        app.userConnected.userRole.includes('ROLE_OWNER') ||
        app.userConnected.userRole.includes('ROLE_ADMIN')
      ">

        <mat-list-item (click)="toggleUnrolled('log')">
          <mat-icon matListItemIcon>event_repeat</mat-icon>
          <div matListItemTitle>Log</div>
        </mat-list-item>
        <ng-container *ngIf="whichUnrolled === 'log' && isUnrolled">

          <mat-divider></mat-divider>

          <mat-list-item routerLink="/log/role">
            <div matListItemTitle>Log des rôles</div>
          </mat-list-item>

          <mat-list-item routerLink="/log/sanction">
            <div matListItemTitle>Log de la modération</div>
          </mat-list-item>

          <mat-list-item routerLink="/log/actu">
            <div matListItemTitle>Log des actualitées</div>
          </mat-list-item>

        </ng-container>

      </ng-container>

      <!-- OTHER -->
      <mat-divider></mat-divider>
      <div mat-subheader>Personnel</div>

      <mat-list-item routerLink="/settings">
        <mat-icon matListItemIcon>settings</mat-icon>
        <div matListItemTitle>Paramètre</div>
      </mat-list-item>

      <mat-list-item (click)="this.app.logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <div matListItemTitle>Déconnexion</div>
      </mat-list-item>

    </mat-list>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
      <img src="assets/logo.png" alt="Logo" width="30" style="margin-right: 8px">
      <span>Gamenium Panel</span>

    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
