<section *ngIf="AllStat != null">

  <h1>Stats d'exemplaire</h1>

  <div class="flex">
    <mat-card class="mb-38">
      <mat-card-content>
        <h1>Nombre de jeux ajoutés</h1>
        <h2>{{AllStat.nb_hmg}}</h2>
      </mat-card-content>
    </mat-card>

    <mat-card class="mb-38">
      <mat-card-content>
        <h1>Nombre de platformes ajoutées</h1>
        <h2>{{AllStat.nb_hmp}}</h2>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="flex">
    <mat-card class="mb-38">
      <mat-card-content>
        <h2>Nombre d'exemplaires de jeux</h2>
        <h3>{{AllStat.nb_hmg_copy}}</h3>
        <small>En moyennes {{AllStat.nb_hmg_average}} d'exemplaires par jeux</small>
      </mat-card-content>
    </mat-card>

    <mat-card class="mb-38">
      <mat-card-content>
        <h2>Nombre d'exemplaires de platformes</h2>
        <h3>{{AllStat.nb_hmp_copy}}</h3>
        <small>En moyennes {{AllStat.nb_hmp_average}} d'exemplaires par jeux</small>
      </mat-card-content>
    </mat-card>
  </div>


<!--  <hr style="margin: 25px 0">-->



</section>

<style>
  mat-card{
    text-align: center;
    padding: 50px;
  }
  .flex {
    display: flex;
    margin: auto;
    width: 98%;
    mat-card{
      width: 49%;
      margin: 1%;
    }
  }

  @media (max-width: 768px) {
    mat-card{
      padding: unset;
    }
  }
</style>
