.img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 8%;
}

.mb-38 {
    margin-bottom: 38px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mx-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-0 {
    margin: 0px;
}

.w-128 {
    width: 128px;
}

.w-50vh {
    width: 50vh;
}

.h-40{
    height: 40px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.center-auto {
    margin: 0 auto;
    width: fit-content;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}