<section *ngIf="id">


  <mat-card class="mb-12">
    <mat-card-content>
      <div class="flex" style="justify-content: space-between;">

        <div style="display: flex; align-items: center;">
          <p style="margin: unset">{{ viewActu }}</p>
          <mat-icon fontIcon="visibility"></mat-icon>
        </div>
        <div>
          <mat-icon fontIcon="open_in_new" (click)="app.redirectUrl(app.setURLFront() + '/actuality/' + commentSelected?.post?.id)"></mat-icon>
        </div>
      </div>
      <div class="flex justify-center center-auto column align-center">
        <img src="{{ commentSelected?.post?.picture?.url }}" class="card-img-top" alt="..." />

        <h2 class="text-center">{{commentSelected?.post?.title}}</h2>

        <mat-chip routerLink="/provider/{{commentSelected?.post?.Provider?.id}}">
          <img matChipAvatar [src]="commentSelected?.post?.Provider?.picture?.url" alt="provider pp" class="displayname">
          {{ commentSelected?.post?.Provider?.displayName }}
        </mat-chip>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <h2 class="mb-12">Informations sur le commentaire : </h2>
      <div class="flex align-center mx-20">
        <div class="w-128">Commentaire signalé :</div>
        <div class="w-50vh">{{commentSelected?.content}}</div>
      </div>

      <div class="flex align-center mx-20">
        <div class="w-128">Auteur :</div>

        <mat-chip *ngIf="commentSelected?.user" routerLink="/user/{{commentSelected?.user?.id}}">
          <img matChipAvatar [src]="app.generatePPUseritium(commentSelected?.user?.pp?.url, commentSelected?.user?.displayname_useritium	 || commentSelected?.user?.username,commentSelected?.user?.color || this.app.colorDefault)" alt="user pp"/>
          {{commentSelected?.user?.displayname_useritium	 ?? commentSelected?.user?.username }}
        </mat-chip>

        <mat-chip *ngIf="!commentSelected?.user">
          Anonyme
        </mat-chip>

      </div>

      <div class="flex align-center mx-20">
        <div class="w-128">Le :</div>
        <div>{{commentSelected?.created_at| date:'dd/MM/yyyy, HH:mm'}} </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
