<section *ngIf="id">
  <mat-card>
    <mat-card-content>
      <h2 class="mb-12">Informations générales : </h2>
      <p>User name : {{profilSelected?.username}} </p>
      <p>Display name : {{profilSelected?.displayname}} </p>
      <p>Display name Useritium : {{profilSelected?.displaynameUseritium}} </p>
      <p>Inscrit depuis le : {{profilSelected?.joinAt | date:'dd/MM/yyyy'}} </p>
      <p>Couleur du thème : {{profilSelected?.themeColor}} </p>
      <div class="flex">
        <p>Image de profil : {{profilSelected?.picture ? '' : 'Aucune image de profil'}} </p>
        <div class="img" style= "background-image: url({{profilSelected?.picture}});"></div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
